[package]
name = "cargo-docset"
authors = ["R.Chavignat <r.chavignat@gmail.com>"]
description = "Generates a Zeal/Dash docset for your rust package."
edition = "2018"
version = "0.1.0"

repository = "https://github.com/Robzz/cargo-docset"
readme = "README.md"
license = "Apache-2.0"
keywords = ["zeal", "dash", "docset", "documentation"]
categories = ["development-tools", "command-line-utilities"]
maintenance = { status = "experimental" }

[badges]
travis-ci = { repository = "Robzz/cargo-docset", branch = "master" }

[dependencies]
cargo = "0.37"
clap = "2.33"
derive_more = "0.15"
failure = "0.1"
rusqlite = "0.20"
snafu = "0.4"
